@model RumahMakan_Bersama.Models.WaitingListModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-4">
                <div class="card-header text-center">Waiting List</div>
                <div class="card-body">
                    <form asp-action="Create">
                        <div class="col-12 col-md-5 mx-auto mt-5">
                            <label>Nama</label>
                            <div class="form-group">
                                <input asp-for="Nama" class="form-control" />
                                <span asp-validation-for="Nama" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 mx-auto mt-5">
                            <label>Jumlah Kursi</label>
                            <div class="form-group">
                                <input asp-for="Kursi" class="form-control" />
                                <span asp-validation-for="Kursi" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-5 mx-auto mt-5">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
